{% extends 'base.html.twig' %}

{% block body %}

       
<div class="row row-cols-1 row-cols-md-3 row-cols-sm-2">

{% for event in events %}

  <div class="col mb-4">
    <div class="card">
      <img src="{{event.img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><span><a class="rounded-circle btn btn-dark" href="/sort/{{event.type}}"> {{event.type}}</a></span> {{event.name}} </h5>
        <p class="card-text">{{event.edatetime|date('F j, Y, g:i a')}}</p>
        <div>
           <a href="/event/details/{{event.id}}" class="btn btn-success">View</a>
          <a href="/event/edit/{{event.id}}" class="btn btn-default">Edit</a>
           <a href="/event/delete/{{event.id}}" class="btn btn-danger">Delete</a>
        </div>
        
      </div>
    </div>
  </div>
   
   
          
           
{% endfor %}

</div>
{% endblock %}